@import 'variables';
@import 'ultilities';
@import 'mobile';


body {
    background-color:#f2f2f2;
    font-size: 1rem;
    margin: 0;
    box-sizing: border-box;
}
html, body, #page {
    height:100%;
    width:100%;
    padding:0;
    box-sizing: border-box;
    display: block;
}
* { margin: 0 !important;   box-sizing: border-box !important; }